//general
$cl_primary: #aaad89;
$cl_secundary: #888;
$cl_extra: #fdffdf;
$cl_mark: #e47520;

//page
$page_bg: #F0EFE2 url("../assets/img/background.png") repeat;
$page_wd: 686px;
$page_ft: 12px "Trebuchet MS";

//buttons
$button_wd: 78px;
$button_pd: 8px 0;
$button_cl: #fff;
$button_ft: 11px "Arial";

//title
$title_ft: 30px "Century Gothic";

//menu
$menu_bg: rgba(0, 0, 0, .5);
$menu_pd: 10px;

//content
$content_bg: rgba(255, 255, 255, .5);
$content_pd: 30px;

//grid
$grid_wd: 372px;
$cell_sz: 35px;
$msg_pd: 7px;

//box
$box_wd: 200px;
$box_pd: 7px;
$box_line_pd: 4px 5px 5px 5px;
$box_line_mg: 7px;
$box_caption_mg: -7px -7px 7px -7px;
$box_caption_pd: 7px;

//footer
$footer_mg: 15px;
$footer_ft: 14px Sans-serif;